.drink-image {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
}

.food-image {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
}

.dessert-image {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
}